:root {  
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {  
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 16px */
    font-family: 'Krub', sans-serif;
}

.title {
    text-align: center;
    font-size: 3.8rem;
}

.title span {  
    font-size: 2rem; 
}

.contenedor {
    width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.nav-bg {
    background-color: var(--secundario);  
}

.navegacion_principal a {
    background-color: var(--primario);
}
  